package layouts

import "blog/internals/utils"

templ AppLayout(title string, lang string) {
  <html lang={lang}>
    <head>
      <title>{title}</title>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href={"/static/css/" + utils.GetCurrentCSSFile()} />
    </head>

    <body class="bg-black text-white">
      {children...}
    </body>
  </html>
}